nav {
  position: relative;
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    background: transparent;
    cursor: pointer;
    outline: none;
    border: 2px solid rgb(65, 65, 65);
    border-radius: 3px;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }

  }
}